
<div class="divisor"></div>
<div class="acerca">
    <article>
        <aside>
            <img src="https://cdn.cheapoguides.com/wp-content/uploads/sites/2/2017/03/manga_brunocoelhopt_iStock-1214278807-770x513.jpg" class="t1" alt="">
        </aside>
        <div class="texto">
                <h1 class="title">Acerca de Nosotros</h1>
                <h2 class="tittle2">Manga Store Unlimited</h2>
                <br>
                <p class="texto2">
                    <strong>Manga (kanji: 漫画; hiragana: まんが; katakana: マンガ?) es la palabra japonesa para designar las historietas en general. Fuera de Japón, se utiliza para referirse a las historietas
                        de origen japonés.</strong>
                </p>
                <p class="texto2">
                    <strong>Contamos con 5 años en el mercado de Manga, con la más alta eficiencia en satisfacer el gusto del cliente.</strong>
                </p>
                <button class="btn1">
                    MÁS INFORMACIÓN
                </button>
        </div>
    </article>
</div>