<div class="divisor"></div>
    <div class="contacto">
        <div id="contact">
            <br><br>
            <li>&#10148;  DIRECCION</li>
            <p class="info">AV. CEVALLOS 11-32 Y ESPEJO AMBATO,ECUADOR</p>
            <li>&#x2709; EMAIL</li>
            <a class="info"href="mailto:MSU@GMAIL.COM">MSU@GMAIL.COM</a>
            <li>&#9990; TELEFONO</li>
            <a class="info"href="tel:+593998012180" >+593998012180</a>
            <br><br>
        </div>
</div>