<div class="divisor"></div>
<footer>
        <div class="copyright">
                <div  >
                        <p class="pie">©  Copyright: Todos los Derechos Reservados Manga Store Unlimited</p>
                    
                </div>
        </div>

</footer>