 <header class="header">
            <div class="fondo">
            </div>
            <div class="banner">
                <p id="frase1">
                   <strong>Más de mil mangas disponibles!</strong> 
                </p>
                <div class="divisorhead"></div>
                <p id="frase2">
                    <strong> Para todo tipo de gustos!</strong>
                </p>
                <button id="btn1">EXPLORAR</button>
            </div>
</header>