<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <title>Libreria Manga</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Akaya+Telivigala&family=DotGothic16&family=Exo&family=Hammersmith+One&family=Jura&family=Lobster&family=Noto+Serif&family=Open+Sans+Condensed:wght@300&family=Pangolin&display=swap" rel="stylesheet">
</head>