<br><br>
<div class="divisor"></div>
    <div class="producto">
        <div class="contenedor">
            <h2 class="title3">Conoce</h2>
            <h1 class="title4"><strong>Nuestros Tomos Recientes</strong></h1>
            <br>
            <p class="texto3"><strong>La espectacular historia de la JUMP escrita e ilustrada por Gege Akutami "Jujutu Kaisen". </strong></p>
            <br><br>
            <button class="btn1">
                INVENTARIO
            </button>
        </div>
                    {{!-- <div class="contenedor">
                        <img src="imagenes/vol4.png" class="t1" alt="" >
                        <figcaption id="fic1">19.99$</figcaption>
                        <h4>TOMO 4 JJK</h4>
                    </div>
                    
                    <div class="contenedor">
                        <img src="/imagenes/vol8.png" class="t1"alt=""  >
                        <figcaption id="fic1">23.99$</figcaption>
                        <h4>TOMO 8 JJK</h4>
                    </div>

                    <div class="contenedor">
                        <img src="imagenes/vol14.jpg" class="t1"alt="" >
                        <figcaption id="fic1">29.99$</figcaption>
                        <h4>TOMO 14 JJK</h4>
                    </div>  --}}

        {{getProduct}}                  
    </div>